@{
    ViewData["Title"] = "Izjave";
}
<h2>IZJAVA O ZASEBNOSTI (POGOJI ZASEBNOSTI)</h2>
<p>
    Pogoji zasebnosti so interni akt upravljavca in veljajo za vsa pravna razmerja med njim, obdelovalci in uporabniki. <br /> 
    Akt določa pravice in obveznosti upravljavca in obdelovalcev pri upravljanju in obdelovanju osebnih podatkov uporabnikov. <br />
    Upravljavec lahko obdeluje osebne podatke uporabnikov spletnega mesta, naročnikov storitev in posameznikov v pravnih osebah, s katerimi poslovno sodeluje. <br />
    Pogoji zasebnosti opredeljujejo način obdelave osebnih podatkov takih posameznikov, ki so sklenili pogodbo oziroma naročili storitev, <br />
    če je obdelava osebnih podatkov potrebna in primerna za sklenitev pogodbe oziroma naročilo ali za izpolnjevanje pogodbe. <br />
    Pogoji zasebnosti opredeljujejo tudi način obdelave osebnih podatkov, za katere ima upravljavec podlage v zakonu ali za katere je pridobil <br />
    pisno privolitev uporabnika, v kolikor se osebni podatki vnašajo neposredno na spletni strani upravljavca. 
</p>

<h2>IZJAVA O UPORABI PIŠKOTKOV</h2>
<p>
    Piškotki so majhne datoteke z besedilom, ki jih na vaš računalnik ali mobilno napravo shranijo spletišča, ki jih obiskujete. <br />
    Naloge piškotkov so različne. Piškotki pomagajo spletišču, da si zapomni vaše nastavitve, npr. jezik, velikost črk in druge nastavitve, <br />
    ki ste jih na svojem računalniku določili za ogled našega spletišča, tako da vam jih ob vnovičnem obisku ni treba vedno znova nastaviti. <br />
    Na ta način si spletišča lahko zapomnijo vaše preference, informacijo, da ste v anketi spletišča že glasovali, ali zgolj dejstvo, <br />
    da ste v spletišče že prijavljeni.
    Nekateri piškotki so nujni za delovanje spletišča (npr. piškotek o prijavi, piškotek o vaši nakupovalni košarici), <br />
    nekateri so namenjeni izboljšanju uporabniške izkušnje (npr. shranjevanje uporabnikovih preferenc), nekateri pa se uporabljajo tudi za spremljanje <br />
    obiska na spletišču, kar njegovemu upravitelju pomaga pri stalnem izboljševanju spletne strani in uporabnikove izkušnje z njo. <br />
    Nekateri piškotki omogočajo slednje uporabnikom tudi čez več spletnih mest.
    Večina spletnih brskalnikov samodejno sprejme piškotke. Delovanje spletnega brskalnika lahko spremenite v nastavitvah, <br />
    tako da računalnik piškotke zavrne ali da prejmete opozorilo, preden se piškotek shrani. <br />
    Namestitev piškotkov lahko v brskalniku tudi popolnoma preprečite za vse obiskane spletne strani. <br />
    Piškotke, ki so že shranjeni na vašem računalniku, lahko izbrišete.
</p>